<div class='bold-line'></div>
<div class="row d-flex justify-content-end m-5">
  <div class="col-md-6">
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Olá!</div>
      <div class='subtitle'>Estamos quase lá.
        Antes de entrar para BeeLearn, você precisa criar uma conta.</div>
      <div class='input-fields'>
        <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome" class ='input-line full-width'>
        <input [(ngModel)]='user.usuario' type='text' placeholder='usuario' class ='input-line full-width'>
        <input [(ngModel)]='user.foto' type='text' placeholder='Link da Foto' class='input-line full-width'>
        <input (input) = 'confirmSenha ($event)' type='password' placeholder='Senha' class='input-line full-width'>
        
      </div>
        <input [(ngModel)]='user.senha' type='password' placeholder='Confirme sua senha' class='input-line full-width'>
        <div class="form-group">
          <label for="tipo">Tipo de Usuário</label>
          <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
            <option>Selecione um tipo de usuário:</option>
            <option value="normal">Normal</option>
            <option value="adm">Administrador</option>
          </select>
        </div> 
        <button class='ghost-round full-width' (click)='cadastrar()'>Cadastrar!</button>
      </div>

      
      
       
        <p class="text-center text-warning"> Já possui uma conta? Click em <a routerLink='/entrar' class="text-secondary"> Login </a></p>

       
    </div>
   
    </div>
    

   
</div>
